<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h1>Hey
            <%= user.name %>!
        </h1>
        <h3>Your current account status is
            <%= user.role %>
        </h3>
        <p>Ready to upgrade? You must be a baller.</p>
        <form action="/users/<%= user.id %>/downgrade" method="POST">
            <button type="Submit" class="btn btn-warning">Let's do this upgrade thing</button>
        </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>

</html>